@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border box-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .scrollbar-hide {
    /* IE and Edge */
    -ms-overflow-style: none;
    /* firefox */
    scrollbar-width: none;
  }

  /* safari and chrome */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-default {
    /* IE and Edge */
    -ms-overflow-style: auto;
    /* firefox */
    scrollbar-width: auto;
  }

  /* safari and chrome */
  .scrollbar-default::-webkit-scrollbar {
    display: block;
  }

  .gradient-bronze {
    @apply bg-gradient-to-br from-amber-300 via-amber-700 via-70% to-amber-600 dark:from-amber-800/70 dark:via-amber-500/70 dark:to-amber-600/70;
  }
  .gradient-silver {
    @apply bg-gradient-to-br from-gray-100 via-gray-300 via-70% to-gray-200 dark:from-gray-500/70 dark:via-gray-200/70 dark:to-gray-300/70;
  }
  .gradient-gold {
    @apply bg-gradient-to-br from-yellow-100 via-yellow-400 via-70% to-yellow-300 dark:from-yellow-400/80 dark:via-yellow-200/80 dark:to-yellow-300/80;
  }
  .gradient-emerald {
    @apply bg-gradient-to-br from-green-400 via-green-600 via-70% to-green-500 dark:from-green-600/70 dark:via-green-400/70 dark:to-green-500/80;
  }
}
